<h2>Please enter your address</h2>
<h3>Format: Street Address, Seattle, WA</h3>

<%= form_for @query do |f| %>
  <%= f.label :address %><br />
  <%= f.text_field :address %><br/>
  <br>
  <p><%= f.submit %></p>
<% end %>